MYSQL_CONN="-u covmo -pcovmo456 -h 192.168.1.217 -P 3312"
SPALLINONE="./sp_release"
SPSINGLES="./sp_history"
TABLESDIR="./sp_tables"
DUMPTARGETDB="'gt_gw_main'"
TABLELIST=("gt_gw_main tbl_rpt_other","gt_gw_main sp_version")
BRANCHNAME=master
